.u-block-72f0-2 {
  position: absolute;
  bottom: 10px;
}

.u-block-72f0-3 {
  position: absolute;
  left: 0;
}

.u-block-72f0-4 {
  position: absolute;
  right: 0;
}

 .u-section-1-1 {
  background-image: url("images/3ec963ca-0433-4e3b-8905-25fa432fdb61.jpg");
  background-position: 50% 50%;
}

.u-section-1-1 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-1 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-1-2 {
  background-image: url("images/76a5aaab-7437-43df-9f8c-4e84b4b62ea3.jpg");
  background-position: 50% 50%;
}

.u-section-1-2 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-2 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-1-3 {
  background-image: url("images/c1bea0e8-0d51-4cef-a414-de8ad8c84969.jpg");
  background-position: 50% 50%;
}

.u-section-1-3 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-3 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-1-4 {
  background-image: url("images/6bd51897-c86a-43a5-864a-517c770dc5c7.jpg");
  background-position: 50% 50%;
}

.u-section-1-4 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-4 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-1-5 {
  background-image: url("images/3395de79-956f-49c4-a54d-c618edad3ae3.jpg");
  background-position: 50% 50%;
}

.u-section-1-5 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-5 .u-sheet-1 {
    min-height: 350px;
  }
}

 .u-section-1-6 {
  background-image: url("images/f7748c47-b2a3-4297-b502-abbb45bab123.jpg");
  background-position: 50% 50%;
}

.u-section-1-6 .u-sheet-1 {
  min-height: 800px;
}

@media (max-width: 1199px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 660px;
  }
}

@media (max-width: 991px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1-6 .u-sheet-1 {
    min-height: 350px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/8b9bec67-67d5-4fb3-84a6-ec82ce4b921f.jpg");
}

.u-section-2 .u-sheet-1 {
  min-height: 416px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 60px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  width: 780px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-2 .u-btn-1 {
  font-size: 1.125rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin: 30px auto 60px;
  padding: 6px 24px 7px 23px;
}

@media (max-width: 1199px) {
   .u-section-2 {
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-2 {
    width: 340px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 454px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-text-2 {
  width: 740px;
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: repeat(1, auto);
  width: 1140px;
  margin: 20px auto 15px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 5px));
  min-height: 315px;
  grid-gap: 10px;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-image-1 {
  width: 455px;
  height: 240px;
  margin: 20px 25px 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-3 .u-text-4 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-3 {
  margin: 30px auto 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-image-2 {
  width: 455px;
  height: 240px;
  margin: 20px 25px 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  margin: 20px auto 0;
}

.u-section-3 .u-btn-4 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-text-6 {
  font-weight: 700;
  margin: 20px 0 0;
}

.u-section-3 .u-btn-5 {
  background-image: none;
  padding: 0;
}

.u-section-3 .u-btn-6 {
  margin: 30px auto 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 484px;
  }

  .u-section-3 .u-list-1 {
    height: auto;
    width: 940px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 259px;
    grid-auto-columns: calc(50% - 5px);
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-1 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-4 {
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-3 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-text-6 {
    margin-left: 30px;
    margin-right: 30px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 820px;
  }

  .u-section-3 .u-text-2 {
    width: 720px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-3 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-image-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-2 {
    width: 540px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
    grid-auto-columns: 100%;
  }

  .u-section-3 .u-image-1 {
    height: 360px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 360px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-2 {
    width: 340px;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-image-1 {
    height: 227px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-3 .u-image-2 {
    height: 227px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 640px;
}

.u-section-4 .u-layout-wrap-1 {
  margin: 10px auto 10px 0;
}

.u-section-4 .u-image-1 {
  min-height: 315px;
  background-image: url("images/67a517b3-385e-44ec-9e06-5cf248a11a76.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 60px;
}

.u-section-4 .u-text-1 {
  margin: 0;
}

.u-section-4 .u-text-2 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  font-weight: 600;
  margin: 20px auto 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 315px;
}

.u-section-4 .u-container-layout-3 {
  padding: 30px 60px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

.u-section-4 .u-text-4 {
  margin: 20px 0 0;
}

.u-section-4 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0 0;
}

.u-section-4 .u-image-2 {
  min-height: 315px;
  background-image: url("images/5569e0a8-776a-4092-a8ed-6d4bb37435fa.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-4 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-btn-1 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }

  .u-section-4 .u-btn-2 {
    height: 38px;
    width: 99px;
    padding: 7px 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1397px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -373px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-image-2 {
    order: 0;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1441px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-bottom: -712px;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 750px;
}

.u-section-5 .u-list-1 {
  width: 1140px;
  grid-template-rows: repeat(1, auto);
  margin: 16px 0;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: repeat(2, 50%);
  min-height: 375px;
  grid-gap: 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 9px 4px;
}

.u-section-5 .u-image-1 {
  height: 356px;
  width: 307px;
  margin: 4px 122px 0 auto;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 27px auto 0 26px;
}

.u-section-5 .u-text-2 {
  margin: 20px 26px 0;
}

.u-section-5 .u-social-icons-1 {
  height: 36px;
  min-height: 16px;
  width: 128px;
  min-width: 68px;
  margin: 4px auto 0 26px;
}

.u-section-5 .u-icon-1 {
  height: 100%;
  color: rgb(1, 0, 2) !important;
}

.u-section-5 .u-icon-2 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-icon-3 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-container-layout-2 {
  padding: 9px 4px;
}

.u-section-5 .u-image-2 {
  height: 356px;
  width: 307px;
  margin: 4px 122px 0 auto;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  margin: 27px auto 0 26px;
}

.u-section-5 .u-text-4 {
  margin: 20px 26px 0;
}

.u-section-5 .u-social-icons-2 {
  height: 36px;
  min-height: 16px;
  width: 128px;
  min-width: 68px;
  margin: 4px auto 0 26px;
}

.u-section-5 .u-icon-4 {
  height: 100%;
  color: rgb(1, 0, 2) !important;
}

.u-section-5 .u-icon-5 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

.u-section-5 .u-icon-6 {
  height: 100%;
  color: rgb(0, 0, 0) !important;
}

@media (max-width: 1199px) {
  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 309px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-5 .u-text-2 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-image-2 {
    margin-top: 0;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-5 .u-text-4 {
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-list-1 {
    width: 340px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 629px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 12px auto 0;
}

.u-section-6 .u-layout-wrap-1 {
  margin-top: 12px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 188px;
}

.u-section-6 .u-container-layout-1 {
  padding: 10px;
}

.u-section-6 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 25px auto 0;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  margin: 15px auto 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-3 {
  width: 393px;
  margin: 20px auto 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-3 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 188px;
}

.u-section-6 .u-container-layout-2 {
  padding: 10px;
}

.u-section-6 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 25px auto 0;
}

.u-section-6 .u-text-4 {
  margin: 15px auto 0;
}

.u-section-6 .u-btn-4 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-5 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-6 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-7 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-8 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-9 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 30px auto 0;
}

.u-section-6 .u-text-5 {
  margin: 20px auto 0;
}

.u-section-6 .u-btn-10 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-11 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-12 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-btn-13 {
  background-image: none;
  font-weight: 700;
  padding: 0;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 377px;
}

.u-section-6 .u-container-layout-3 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 306px;
  }

  .u-section-6 .u-icon-1 {
    margin-top: 0;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 5px;
  }

  .u-section-6 .u-text-3 {
    width: auto;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 306px;
  }

  .u-section-6 .u-icon-3 {
    margin-top: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 311px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1145px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-top: 31px;
    margin-bottom: 30px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 256px;
  }

  .u-section-6 .u-icon-2 {
    margin-top: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 476px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1304px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-bottom: 40px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 357px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 1174px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 225px;
  }
}